@import "./scss/fontawesome.scss";
@import "./scss/solid.scss";


//Colours

//Background Colours

$leftcolumn: rgb(92, 102, 116);
$rightcolumn: rgb(222, 223, 226);
$maincontainer: rgb(249, 249, 249);
$bottomrow: rgb(246, 246, 246);
$spotifygreen: rgb(30, 215, 96);

//text colours

$lefttext: rgb(224, 224, 224);
// Spacing
$spacer: 19px;

$padding-xs: 5px;
$padding-sm: 10px;
$padding: 15px;
$padding-lg: 30px;
$padding-xl: 60px;

$margin-xs: 5px;
$margin-sm: 10px;
$margin: 15px;
$margin-lg: 30px;
$margin-xl: 60px;

// Borders

$border-radius: 15px;
$img-radius: 50%;

// Font-sizes

$x-small: 11px;
$small: 14px;
$medium: 16px;
$large: 20px;
$x-large: 24px;
$xx-large: 36px;
$xxx-large: 52px;



// Font Theme CSS
body,
html {
    font-family: "Open Sans", sans-serif;
    //overflow: hidden;
    height: 100%;
    margin: 0%;
}

//left-column css
#left-column {
    & {
        background-color: $leftcolumn;
        color: rgb(224, 224, 224);
        max-width: 273px;
        height: 100%;
        border-bottom: 1px solid $maincontainer;
    }
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 157px;
    height: 47px;
    padding-top: $padding-xs;
    padding-right: $padding;
}

.round-img1 {
    border-radius: $img-radius;
    max-height: 42px;
    max-width: 42px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


#user-menu {
    @extend %fa-icon;
    @extend .fas;

    &:before {
        content: fa-content($fa-var-angle-down);
    }
    
    font-size: 20px;
    line-height: 2.2;
    float: right;
    height: 42px;
}

.user-menu:hover{
    background-color: $lefttext;
}

.side-btn{
    display: flex;
    padding-top: 35px;
    padding-left: ($spacer * 3 + 10px);
}

.init-spacing{
    padding-top: ($spacer * 2);
}

.left-col-text{
    padding-left: 20px;
    font-size: 16px;
    
    .click-icon{
        text-decoration: none;
        color: $lefttext;
    }
}



.side-icon{
    float: left;
    font-size: 28px;
    line-height: .7;
    max-width: 30px;
    max-height: 23px;
}

.list{
    font-size: 22px;
}

.list-spacing-1{
    padding-top: 55px;
}

.list-spacing-2{
    padding-top: 255px;
}

.volume{
    position: absolute;
    left: 0;
    bottom: 56px;
    display: inline-flex !important;
    height: auto;
    float: none; 
}
.volume-icon{
    font-size: 24px;
    padding-left: 10px;
    display: flex;
    padding-right: $padding + 10px;
    align-items: center;
    line-height: 1;

}

#song-volume{
    height: 9px;
    width: 174px;
    
    .noUi-target{
        box-shadow: none !important;
        background: none !important;
    }

    .noUi-base{
        
        border-radius: $border-radius;
        background-color: $leftcolumn;
        border: none;
    }


    .noUi-connect{
        background-color: $lefttext;
    }

   .noUi-handle{
       border-radius: $border-radius;
       background-color: $lefttext;
       box-shadow: none;
       display: none;
       width: 20px;
       height: 20px;
       text-decoration: none;

       &::before, &::after{
           background: none;
       }
   } 
   
    &:hover{
        .noUi-handle{
            
            display: inline-block;
        }
    }

}

//end of left column css 

//start of right column css 



//end of right column css 