@import "./scss/fontawesome.scss";
@import "./scss/solid.scss";

//Colours

//Background Colours

$leftcolumn: rgb(92, 102, 116);
$rightcolumn: rgb(222, 223, 226);
$maincontainer: rgb(249, 249, 249);
$bottomrow: rgb(246, 246, 246);
$spotifygreen: rgb(30, 215, 96);

//text colours

$lefttext: rgb(224, 224, 224);
$maintext: rgb(77, 77, 77);
$righttext: rgb(77, 77, 77);
// Spacing
$spacer: 19px;

$padding-xs: 5px;
$padding-sm: 10px;
$padding: 15px;
$padding-lg: 30px;
$padding-xl: 60px;

$margin-xs: 5px;
$margin-sm: 10px;
$margin: 15px;
$margin-lg: 30px;
$margin-xl: 60px;

// Borders

$border-radius: 15px;
$img-radius: 50%;

// Font-sizes

$x-small: 11px;
$small: 14px;
$medium: 16px;
$large: 20px;
$x-large: 24px;
$xx-large: 36px;
$xxx-large: 52px;

// Font Theme CSS
body,
html {
    font-family: "Open Sans", sans-serif;
    //overflow: hidden;
    height: 100%;
    margin: 0%;
}

.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-height: 100% !important;
    max-width: 90% !important;
}
//left-column css
#left-column {
    max-width: 273px !important;
    height: 100vh !important;
    background-color: $leftcolumn;
    color: rgb(224, 224, 224);
    max-height: 100% !important;
    border-bottom: 1px solid $maincontainer;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 157px;
    height: 47px;
    padding-top: $padding-xs;
    padding-right: $padding;
}

.round-img1 {
    border-radius: $img-radius;
    max-height: 42px;
    max-width: 42px;
    display: initial;
    margin-left: auto;
    margin-right: auto;
}

#user-menu {
    @extend %fa-icon;
    @extend .fas;

    &:before {
        content: fa-content($fa-var-angle-down);
    }

    font-size: 20px;
    //line-height: 2.2;
    //float: right;
    height: 42px;
}

#user-css {
    display: inline;
}

.user-menu:hover {
    background-color: $lefttext;
}

.side-btn {
    display: flex;
    padding-top: 35px;
    padding-left: ($spacer * 3 + 10px);
}

.init-spacing {
    padding-top: ($spacer * 2);
}

.left-col-text {
    font-size: 16px;

    .click-icon {
        text-decoration: none;
        color: $lefttext;
    }
}

.side-icon {
    font-size: 28px;
    //line-height: 0.7;
    max-width: 30px;
    max-height: 23px;
}

.list {
    font-size: 22px;
    max-height: 100vh / 2;
}

.volume-icon {
    font-size: 20px;
    display: flex;
    align-items: left;
    line-height: 1;
}

#song-volume {
    height: 9px;
    width: auto;

    .noUi-target {
        box-shadow: none !important;
        background: none !important;
    }

    .noUi-base {
        border-radius: $border-radius;
        background-color: $leftcolumn;
        border: none;
    }

    .noUi-connect {
        background-color: $lefttext;
    }

    .noUi-handle {
        border-radius: $border-radius;
        background-color: $lefttext;
        box-shadow: none;
        display: none;
        width: 20px;
        height: 20px;
        text-decoration: none;

        &::before,
        &::after {
            background: none;
        }
    }

    &:hover {
        .noUi-handle {
            display: inline-block;
        }
    }
}

//end of left column css

//start of main container css
#main-container {
    background-color: $maincontainer;
    height: 100vh !important;
    width: 1372px !important;
    max-width: 80% !important;
    color: $maintext;
}

#arrows {
    font-size: 40px;
}

.flo-left {
    float: left;
}

.flo-right {
    float: right;
}

#search-icon{
    font-size: 14px;
}

.input-group{
    border-bottom: 3px solid $spotifygreen;
    border-left: 3px solid $spotifygreen;
    border-right: 3px solid $spotifygreen;
    background-color: $maincontainer;

}
input[type="text"]{
    
    font-size: 14px;
    font-weight: 300;
    background-color: $maincontainer;
    border-radius: 0;
    border: none;
    color: $maintext;
}

.input-group-text{
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
    font-weight: 300;
    border: none !important;
    background-color: $maincontainer !important;
    color: $maintext;
}


//end of main container css

//start of right column css
#right-column {
    //change colours to actual
    height: 100vh !important;
    max-width: 273px !important;
    background-color: $rightcolumn;
 
    color: rgb(224, 224, 224);
    max-height: 100% !important;
    border-bottom: 1px solid $maincontainer;
}

//end of right column css
